.bod {
    height: 100vh;
    width: 100vw;
    background-color: #090826;
}
.ord{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ord li {
    list-style-type: none;
    margin-right:10px;
    
    

}
.ord li a{
    color:white;
    text-decoration: none;
}
.ord li a:hover{
    color: #ff9900;

}
.wel{
    color:white;
    font-size: 70px;
    text-align: center;
    
}
